@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    font-family: "Poppins" !important;
}

.titulo {
    justify-content: center;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;
}

.container1 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tabuleiro {
    align-items: center !important;
    border: 1px solid black !important;
    text-align: center !important;
    padding: 1em !important;
    background-color: #52b2b2;
    border-collapse: separate
}

.linha {
    border: 1px solid black;
    text-align: center;
}


.botaoCelula {
    width: 100px;
    height: 100px;
    gap: 1em;
    text-align: center;
    border-radius: 15px;
    font-size: 50px;
}

.simbolo {
    font-size: 50px;
}

.btnInicio {
    margin-top: 1.7em;
    padding: 0.7em 3em;
    background-color: #52b2b2;
    border: 0;
    font-size: 15px;
    color: azure;
    font-weight: 700;
}

.btnInicio:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.modalDialog{
    border: 0;
    /* padding: 1.5em 3em; */
    width: 30vw;
    padding-top: 2em;
}

.modalDialog2{
    border: 0;
    /* padding: 1.5em 3em; */
    width: 30vw;
    padding-top: 2em;
    text-align: center;
}

.campoNome{
    border-radius: 5px;
}

.mostrar{
    display: block;
    color: red;
    margin-bottom: 5px;
}


.botaoSalvar{
    border-radius: 1px;
    font-weight: 500;
    background-color: #004aad;
}

.frase{
    padding-top: 1em;
    font-weight: 400;
}